p {
  color:red;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  margin-left: 30%;
}

#timer {
  float: right;
  position: fixed;

}

#timer p {
  font-size :150%;
  padding-left: 230px;
}
#question {
  clear: right;
  margin-left:30%;
}

#question h4 {
  padding-left: 200px;
}

#score {
  padding-left: 230px;
}

#question input {
  display: none;
  margin-left: 200px;
}
#evaluate {
  text-align:center;
  font-weight: bold;
  margin-top: 100px;
}

#solutionTable {
  border :2px black solid;
  text-align: center;
  margin-bottom:150px;
  width: 100%;
}

tr, th, td {
  border: 1px black solid;
}

#solutions {
  text-align: center;
}
